/*---------------------------------GENERAL COMPONENTS---------------------------------*/

body {
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

#projects h2, #education h2, #work-history h2{
    color: #80cfb8;
    padding-top: 70px;
}

/* section a {
    text-decoration: none;
    color: black;
} */

/* NAV BAR */
nav a {
    padding: 10px 20px; 
}
#navbar {
    justify-content: flex-start; /* Align items to the end (right) */
}


/* SOCIAL MEDIA ICONS (present in profile and footer) */

.socialmedia ul{
    padding: 0;
    margin-bottom:0;
}

li{
    display: inline;
    padding: 5px;
}

.socialmedia a{
    text-decoration: none;
    color: rgb(180, 174, 170);
}

.fa-hover-elevate:hover {
transform: translateY(-5px);
transition: transform 0.7s ease;
color: #ffffff;
}


/* CARDS-DECKS (present in projects and work history) */

.card-container{
    width: 30%;
    box-sizing: border-box;
    margin: 10px;
    text-align: justify;
}

.card-deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 800px) {
    .card-container{
        width: calc(50% - 20px); /* Adjust width for smaller screens */
    }
}

@media (max-width: 480px) {
    .card-container{
        width: 100%; /* Full width for smallest screens */
    }
}


/* ----------------------------------- SECTIONS ----------------------------------------*/

/* -------------- PROFILE SECTION ------------*/

/* ANIMATION */
div.animation {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    padding-top: 150px;
    padding-bottom: 100px;
}

div.componente{
    margin: 5px;
}


/* ABOUT */
abbr {
    text-decoration: none !important; /* Remove underlines */
  }



 /*--------- PROJECTS SECTION ------------*/
#projects .container, #projects{
    background-color: #232830;
}

 /*--------- EDUCATION SECTION -------------*/

#education{
    background-color: #1b3052;
}

 /*---------- WORK SECTION ---------------*/

/* CARD */
 .card-mb-7{
    max-width: 1000px;
    margin: 10px;
    text-align: justify; 
    display: -webkit-inline-box;
}


/* FOOTER */
footer{
    background-color: #232830;
    display: flex;
    align-items: center;
}

footer .container{
    padding-bottom: 30px;
}