.container{
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333; /* Cor de fundo da barra de menu */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    font-size: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px; /* Espaçamento interno do link */
    color: #fff; /* Cor do texto */
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}
body {
    margin: 0;
    padding: 0;
}

div.animation {
    display: flex;
    flex-wrap: wrap;
}
div.componente{
    margin: 5px;
}


abbr {
    text-decoration: none; /* Remove underlines */
  }

ul li{
    display: inline;
    padding: 5px;
}


a{
    text-decoration: none;
    color: black;
}

.fa-hover-elevate:hover {
transform: translateY(-5px);
transition: transform 0.7s ease;
}

.project img{
    width: 70%;
}

.row{
    width:100%;
    overflow:auto;
}

.project{
    width:33%;
    float:left;
}