/*--------------------GENERAL COMPONENTS--------------------*/

body {
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

h2{
    color: #80cfb8 !important;
}


/* --------------------NAV BAR-------------------- */
nav a {
    padding: 10px 20px; 
}

#navbar {
    justify-content: flex-start; /* Align items to the end (right) */
}

/* ----------------------------------- PROFILE SECTION ----------------------------------------*/

/*-------------------- ANIMATION --------------------*/
div.animation {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

div.componente{
    margin: 5px;
}


/* --------------------ABOUT-------------------- */
        
abbr {
    text-decoration: none !important; /* Remove underlines */
  }


/* --------------------SOCIAL MEDIA ICONS-------------------- */

ul li{
    display: inline;
}

a{
    text-decoration: none !important;
}

.fa-hover-elevate:hover {
transform: translateY(-5px);
transition: transform 0.7s ease;
}


 /*-------------------------------- PROJECTS SECTION ----------------------------------*/
#projects .container, #projects{
    background-color: #232830;
}

 /*-------------------------------- EDUCATION SECTION ----------------------------------*/

#education{
    background-color: #1b3052;
}

.card-container{
    width: 30%;
    box-sizing: border-box;
    margin: 10px;
}

.card-deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 800px) {
    .card-container{
        width: calc(50% - 20px); /* Adjust width for smaller screens */
    }
}

@media (max-width: 480px) {
    .card-container{
        width: 100%; /* Full width for smallest screens */
    }
}





 /*-------------------------------- WORK SECTION ----------------------------------*/

 div.card-mb-7{
    max-width: 1000px;
    margin: 10px;
 }









/* FOOTER */
/* social media icons is in profile section */

footer{
    background-color: #232830;
    padding: 10px;
    display: flex;
    align-items: center;
}






/* Define variables */
:root {
    --primary-color: #80cfb8;
    --secondary-color: #232830;
    --highlight-color: #555;
    --background-color: beige;
  }
  
  /* Use variables */
  h2 {
    color: var(--primary-color);
  }
  